@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;500;700&family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300;1,400&display=swap');

* {
    font-family: 'Noto Sans JP', sans-serif;
    box-sizing: border-box;
}

body {
    background:white;
}

/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 999;
      background:#333;
      text-align:center;
      color:#fff;
    }
    
    /* Loading画像中央配置　*/
    #splash_logo {
      position: absolute;
      top: 40%;
      left: 50%;
      background : rgb(236, 235, 235);
      transform: translate(-50%, -50%);
    }
    
    /* Loading アイコンの大きさ設定　*/
    #splash_logo img {
      width:260px;
    }

    #splash-text {
        position: relative;
        width: 100%;
        height: 100%;
    }

    #splash-text p {
        position: absolute;
        display: inline-block;
        color: white;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 20px;
        width: 200px;
        padding: auto;
    }


    /* fadeUpをするアイコンの動き */
    .fadeUp{
    animation-name: fadeUpAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity: 0;
    }
    
    @keyframes fadeUpAnime{
      from {
        opacity: 0;
      transform: translateY(100px);
      }
    
      to {
        opacity: 1;
      transform: translateY(0);
      }
    }

.spring-spinner, .spring-spinner * {
    box-sizing: border-box;
  }

  .spring-spinner {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%,-50%);
  }

  .spring-spinner .spring-spinner-part {
    overflow: hidden;
    height: calc(30px / 2);
    width: 30px;
  }

  .spring-spinner  .spring-spinner-part.bottom {
     transform: rotate(180deg) scale(-1, 1);
   }

  .spring-spinner .spring-spinner-rotator {
    width: 30px;
    height: 30px;
    border: calc(30px / 7) solid transparent;
    border-right-color: #D74339;
    border-top-color: #D74339;
    border-radius: 50%;
    box-sizing: border-box;
    animation: spring-spinner-animation 3s ease-in-out infinite;
    transform: rotate(-200deg);
  }

  @keyframes spring-spinner-animation {
    0% {
      border-width: calc(30px / 7);
    }
    25% {
      border-width: calc(30px / 23.33);
    }
    50% {
      transform: rotate(115deg);
      border-width: calc(30px / 7);
    }
    75% {
      border-width: calc(30px / 23.33);
    }
    100% {
      border-width: calc(30px / 7);
    }
  }




/* ヘッダー */
header {
    color:#1a3845;
    background: #F4F1F0;
    display: flex;
    width: 100%;
    height:40px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    padding: 0 5%;
}


.logo img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-right:15px;
    border: 1px solid #1a3845;
}
.logo a  {
    font-size: 1rem;
    font-family: 'Yusei Magic', sans-serif;
    font-style:oblique;
}

.navigation ul {
    display:flex;
}

.navigation ul li {
    margin-left:50px ;
}

.navigation ul li a {
transition:all,0.5s;
font-size: 0.7rem;
}

.navigation ul li a:hover {
color:rgb(255, 22, 173);
text-decoration-line: underline;
}

/* 画像 */
#mainvisual {
    width: 100%;
    height: 75vh;
    right: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: relative;
    border-bottom: 3px solid #1a3845;
    border-top: 3px solid #1a3845;
    margin-bottom: 60px;
}

#mainvisual video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

#mainvisual img{
width: 100%;
height: 100%;
object-fit: cover;
clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

/* .overlay {
    position: absolute;
    top:0;
    left:0 ;
    width: 100%;
    height:100%;
    background: orange;
    z-index: 1;
    opacity: 0.5%;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}  */


.titletext {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height:250px;
    width:250px;
    z-index: 2;
    text-align: center;
    background-image: url(./img/REUNION.png);
    background-size: cover;
}


.title-box {
    position: absolute;
    height: 98%;
    width: 98%;
    top: 1%;
    left: 1%;
    border: 3px #C8D7D2 solid ;
}

.square1 {
    position: absolute;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    border: 3px solid #D74339;
    animation: animate 15s linear infinite;
    z-index: 1;
}

.square2 {
    position: absolute;
    height: 80%;
    width: 80%;
    top: 10%;
    right: 10%;
    border: 3px solid #1a3845;
    animation: animate 30s linear infinite;
    animation-direction: reverse;
}



/* section共通 */
.wave-container {
    width: 100%;
    z-index: 1;
}

.wave-container img {
    width: 100%;
    object-fit: cover;
}

.wrapper {
    max-width: 100%;
    margin: 0;
    padding: 10% 7%;
    text-align: center;
    background:white;
}

.sectiontitle {
    font-family: 'Zen Kurenaido', sans-serif;
    display: inline-block;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    color: #1a3845;
    text-align: center;
    margin-bottom: 100px;
    padding: 0 65px;
    position: relative; 
}

.sectiontitle::before,
.sectiontitle::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 50px;
    height: 2px ;
    display: block;
    background-color: #1a3845;
}

.sectiontitle::before{
    left: 0;
}
.sectiontitle::after{
    right: 0;
}

/* About */

/* #about {
    background-color: rgb(240, 244, 243);
    z-index: 10;
} */

#about h3 {
    font-size: 2.5rem;
    font-weight: lighter;
    font-style: italic;
    color: black;
        /* text-shadow:1px 1px 0 #000, -1px -1px 0 #000,
    -1px 1px 0 #000, 1px -1px 0 #000,
    0px 1px 0 #000,  0 1px 0 #000,
    -1px 0 0 #000, 1px 0 0 #000; */
}

#about h3 span {
    margin-left: 4px;
}

#about h3 span::before{
    content: "";
    display: inline-block;
    width: 40px;
    height: 1px;
    margin-bottom: 14px;
    margin-right: 6px;
    background-color: black;
}

#about p {
    width: 80%;
    margin: 20px 10% 100px;
    padding-left: 0;
    font-size: 1.2rem;
    font-weight:300;
    font-style: italic;
}


#about .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(244,241,240);
    background: linear-gradient(0deg, rgba(244,241,240,1) 0%, rgba(218,245,242,1) 49%, rgba(244,241,240,1) 100%);
    border: 2px solid #1a3845 ;
}
 
.about-text {
    width: 500px;
    height: 400px;
    padding: 0;
}

.about-text h2 {
    color: #1a3845;
    font-size: 2.5rem;
    margin: 0 auto 40px;
    text-shadow: 12px 3px 2px rgba(0,0,0,0.3);
}

.elem1 {
    opacity: 0;
}

.elem2 {
    position: relative;
    left: -100%;
}

.about-text dl {
    display: flex;
    flex-wrap: wrap;
}

.about-text dl dt{
    /* font-family: 'Zen Kurenaido', sans-serif; */
    margin-top: 7px;
    width: 35%;
    font-size: 1rem;
    /* background-color: red; */
}

.about-text dl dd {
    width: 65%;
    margin-bottom: 50px;
    font-size: 1.5rem;
    /* background-color: blue; */
}

dl dd a {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
}

.about-text dd span {
    font-size: 0.9rem;
}


.about-img img {
    width: 600px;
    clip-path: polygon(35% 0, 100% 0%, 100% 100%, 0% 100%);
    object-fit: cover;
}

.map-container iframe{
    margin-top: 60px;
    width: 90%;
    aspect-ratio: 10/9;
    border: 1px solid #1a3845;
}


/* News */
/* #news {
   background-color: rgb(248, 250, 243);
} */
.news-text{ 
    margin: 10px auto;
    width: auto;
    text-align: left;
}

.newsArea {
    position: relative;
    margin-bottom: 20px;
}

.newsArea:not(:nth-child(1)){
    border-top: 1px solid #1a3845;
}

.newsArea dt {
    display: flex;
    width: 100%;
    height: 22px;
    margin-top: 20px;
}

.newsArea-day {
    width: 24%;
}

.newsArea-category.koushin{
    width: 35px;
    margin: 0 10px;
    background-color: #1a3845;
    color: white;
}

.newsArea-category.jyuyou{
    width: 35px;
    margin: 0 10px;
    background-color: #D74339;
    color: white;
}

.newsArea-text {
    margin-top: 10px;
    margin-left: 25%;
}

/* Timetable */
 #timetable {
    height: 500px;
} 

 #timetable dl{
    display: flex;
 }

 #timetable dt {
    padding-right: 60px;
    width: 40%;
    text-align: right;
    font-weight: 300;
 }

 #timetable dd {
    width: 50%;
    text-align: left;
    font-weight: 300;
    margin-bottom:20px;
 }


.faq-text dl {
    text-align: left;
    margin: auto;
    width: 800px;
}

.faq-text dt {
    font-size: 1.3rem;
    display: flex;
}

.faq-text dt i {
    width: 40px;
    font-size: 2rem;
    color: #1a3845;
}

.faq-text dt h2 {
    width: 100%;
    padding-top: 3px;
    margin-left: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #1a3845;
}


.faq-text dd {
    font-size: 1rem;
    padding-left: 70px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 50px;
}


/* footer */
footer {
    width: 100%;
    height: 80px;
    background-color: #1a3845;
}

.navigation2{
    width: 500px;
    margin: auto;
}

.navigation2 ul {
    display:flex;
}

.navigation2 ul li {
    margin: auto;
}

.navigation2 ul li a {
transition:all,0.5s;
font-size: 1rem;
color: white;
font-family: 'Zen Kurenaido', sans-serif;
letter-spacing: 0.2rem;
}

.navigation2 ul li a:hover {
color:rgb(255, 22, 173);
text-decoration-line: underline;
}

footer h3 {
    color:white;
    font-size: 0.7rem;
    font-weight: lighter;
    margin-right: 20px;
    margin-top: 40px;
    text-align: right;
}



@media (min-width:1000px) and (max-width:1200px) {

    .about-text dl dt{
        margin-top: 3px;
        font-size: 0.8rem;
    }
    
    .about-text dl dd {
        font-size: 1rem;
    }

  
}

@media  (max-width:1000px) {
    .logo a {
        display: none;
    }

    #about .content{
        width: 100%;
        display: block;
    }
    .about-text {
        width: 100%;
        padding: 10px 0;
        background-image: url("./img/top_party_img_sp.jpg");
        background-position: cover;
        position: relative;
    }

    .about-text h2 {
        color: black;
        font-size: 2rem;
        height: 40px;
        margin: 10px 25px 30px 25px;
        background-color: rgba(0,0,0,0.1);
        border: 1px solid #1a3845;
    }

    .about-text dl {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }    

    .about-text dl::after{
        content: "";
        width: 100%;
        height: 90%;
        display: block;
        position: absolute;
        top: -10px;
        left: 0;
        z-index: 1;
        background-color: rgb(0,0,0,0.05);
        backdrop-filter: blur(2px);
        border: 1px solid #F4F1F0;
    }
    .about-text dl dt{
        margin-top: 7px;
        width: 35%;
        font-size: 1rem;
        z-index: 2;
    }
    
    .about-text dl dd {
        width: 65%;
        margin-bottom: 50px;
        font-size: 1.5rem;
        z-index: 2;
    }
    .about-img img {
        display: none;
        width: 100%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        object-fit: cover;
    }

    .faq-text dl {
        width: 90%;
    }
    
    .navigation2 {
        width: 100%;
    }
    .navigation2 ul li {
        margin: auto;
    }

    .navigation2 ul li a {
        transition:all,0.5s;
        font-size: 0.8rem;
        color: white;
        font-family: 'Zen Kurenaido', sans-serif;
        letter-spacing: 0.1rem;
        }
}

@media  (max-width:500px) {

    .navigation ul li {
        margin-left:20px ;
    }
    
    .navigation ul li a {
    font-size: 0.5rem;
    }


}

@media (max-width:390px) {
    .newsArea {
        width: 90%;
        font-size: 0.7rem;
    }

    .newsArea-category.jyuyou{
        height: 15px;
        width: 25px;
    }

    .newsArea-category.koushin{
        height: 15px;
        width: 25px;
    }

    .faq-text dt {
        font-size: 1rem;
        display: flex;
    }
    
    .faq-text dt i {
        font-size: 1.7rem;
    }
    
    .faq-text dd {
        font-size: 0.8rem;
    }

}



@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}






